
:root {
    --primary-green: #79976c;
    --text-dark: #333;
    --text-light: #fff;
    --background-image: url('bg.jpg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.main-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 15px 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 7h;
    margin: 0 auto;
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
}

.logo img {
    width: 4vh;
    height: 4vh;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-dark);
    font-weight: 600;
    font-size: 1vw;
    transition: color 0.3s;
    position: relative;
    display: inline-block;
}


.nav-links a::after,
.nav-links a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #a2bb5d, #f8d286);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}
.nav-links a::before {
  top: -5px;
  transform-origin: right;
}

.nav-links a:hover::after,
.nav-links a:hover::before {
  transform: scaleX(1);
}

.nav-links a:hover::after {
  width: 100%;
}

.contact-button {
    background-color: var(--primary-green);
    color: var(--text-light);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1vw;
    font-weight: 600;
    height: 90%;
    transition: background-color 0.3s;
}
.contact-button:hover {
    background-color: #54684c;
}


.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    background: var(--background-image) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(8px);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: var(--text-light);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.cmm-badge {
    font-size: 2rem;
    background-color: #79976c81;
    color: var(--text-light);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.brief-explanation {
    font-size: 16px;
    margin-bottom: 40px;
    position: relative;
    display: block;
}

.dotted-line {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 150%;
    height: 1px;
    border-bottom: 1px dashed var(--text-light);
    opacity: 0.7;
    margin-top: 15px;
}

.stamp-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
}

.left-dots, .right-dots {
    color: var(--text-light);
    font-size: 16px;
    letter-spacing: 3px;
    opacity: 0.7;
}

.stamp-button {
    background-color: #5a6244;
    border-radius: 16px;
    border: 2px solid var(--text-light);
    color: var(--text-light);
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color 0.3s, color 0.3s;
}

.stamp-button:hover {
    background-color: #5a624470;
}